*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
  background:linear-gradient(180deg,#03060c);
  min-height:100vh;
  color:white;
}


/* nav bar */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
}

.logo{
font-size:28px;
font-weight:700;
}

.logo span{
color:#00f2fe;
}
.logo-sub span{
color:#00f2fe;
}
nav a{
margin:0 15px;
text-decoration:none;
color:white;
transition:.3s;
}

nav a:hover{
color:#00f2fe;
}
/* Upload btn */
.Upload-btn{
padding:10px 22px;
border:none;
border-radius:20px;
background:linear-gradient(45deg,#00f2fe,#4facfe);
color:black;
cursor:pointer;
}
.Upload-btn{
transition: all 0.35s ease;
box-shadow: 0 0 0 rgba(0,0,0,0);
}

/* Hover Effect */
.Upload-btn:hover{
transform: translateY(-3px) scale(1.02);
box-shadow: 
0 0 10px #00f2fe,
0 0 25px #4facfe,
0 0 50px rgba(79,172,254,0.8);
}

/* Click Effect */
.Upload-btn:active{
transform: scale(0.95);
}

/* hero */
.hero{
text-align:center;
padding:80px 10%;
}

.hero h2{
font-size:48px;
}

.hero span{
background: linear-gradient(45deg, #00f2fe, #4facfe);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}


.hero p{
opacity:.8;
margin:15px 0 30px;
}

.search-box{
display:flex;
gap:15px;
justify-content:center;
flex-wrap:wrap;
}

.search-box input,
.search-box select{
padding:12px 15px;
width:220px;
border-radius:30px;
border:none;
outline:none;
}

.search-box button{
padding:12px 25px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#00f2fe,#4facfe);
cursor:pointer;
font-weight:600;
}

/* job listing */
.jobs{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
padding:50px 8%;
}

.job-card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
padding:25px;
border-radius:20px;
transition:.4s;
position:relative;
overflow:hidden;
}

.job-card::before{
content:'';
position:absolute;
inset:0;
background:linear-gradient(120deg,transparent,#00f2fe,transparent);
opacity:0;
transition:.4s;
}

.job-card:hover::before{
opacity:.2;
}

.job-card:hover{
transform:translateY(-10px) scale(1.03);
box-shadow:0 0 25px rgba(0,242,254,.5);
}

.job-card h3{
font-size:22px;
}

.job-card p{
opacity:.7;
margin:10px 0;
}

.job-card span{
display:inline-block;
padding:5px 12px;
border-radius:12px;
background:#00f2fe;
color:black;
font-size:12px;
margin-bottom:15px;
}

.job-card button{
width:100%;
padding:12px;
border:none;
border-radius:20px;
background:linear-gradient(45deg,#00f2fe,#4facfe);
cursor:pointer;
font-weight:600;
}

/* footer */
footer{
text-align:center;
padding:25px;
opacity:.6;
}

/* for phones */
@media(max-width:768px){
.hero h2{
font-size:34px;
}}
/* glass sec. */

.long-section{
padding:100px 8%;
text-align:center;
}

.long-section h2{
font-size:42px;
margin-bottom:50px;
color:white;
}
.long-section span{
color:#00b3d6;
}

/* Grid */

.long-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}
/* Glass card */

.long-card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(18px);
-webkit-backdrop-filter:blur(18px);

padding:40px;
border-radius:24px;

color:white;
font-size:18px;
font-weight:500;

box-shadow:
0 8px 32px rgba(0,0,0,0.4),
inset 0 0 1px rgba(255,255,255,0.4);

transition:all 0.4s ease;
cursor:pointer;
}

/* Hover */

.long-card:hover{
transform:translateY(-12px) scale(1.03);
box-shadow:
0 0 30px rgba(0,212,255,0.7),
0 15px 40px rgba(0,0,0,0.6);
}

/* Text card */

.long-card h3{
font-size:22px;
margin-bottom:12px;
}

.long-card p{
opacity:0.8;
line-height:1.6;
}

/* testimonal */

.long-card small{
display:block;
margin-top:15px;
color:#00b3d6;
font-weight:600;
}
/* footer */

.neo-footer{
position:relative;
background:#000;
padding:90px 8% 35px;
color:#fff;
overflow:hidden;
}

/* glow wave */

.neo-footer::before{
content:"";
position:absolute;
top:-40%;
left:40%;
width:500px;
height:500px;
background:radial-gradient(circle, rgba(0, 255, 255, 0.486), transparent 60%);
filter:blur(120px);
}

/* layout */

.neo-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:70px;
position:relative;
z-index:2;
}

/* Left */

.neo-left h2{
color:#08c5ff;
font-size:30px;
margin-bottom:15px;
}

.neo-left p{
line-height:1.7;
opacity:10.85;
max-width:360px;
}
/* Right */

.neo-right h3{
font-size:22px;
margin-bottom:20px;
}

.neo-right span{
color:#00f7ff;
}

/* Social icn */

.neo-socials{
display:flex;
gap:18px;
}

.neo-socials a{
width:40px;
height:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:14px;

background:rgba(255,255,255,0.07);
backdrop-filter:blur(10px);

color:white;
font-size:18px;

box-shadow:0 0 18px rgba(0, 247, 255, 0.795);
transition:0.3s;
}

.neo-socials a:hover{
background:#00f7ff;
color:rgb(22, 19, 19);
transform:translateY(-6px);
box-shadow:0 0 30px rgb(0, 247, 255);
}

/* Bottom */

.neo-bottom{
margin-top:70px;
border-top:1px solid rgba(255, 255, 255, 0.671);
padding-top:22px;
text-align:center;
opacity:1.7;
}

.neo-bottom span{
color:#ff4f9a;
}

/* Right footer  */

.neo-right{
display:flex;
flex-direction:column;
align-items:flex-start; 
}


/* footer text */

.neo-left,
.neo-center,
.neo-right{
text-align:left;
}

.neo-socials{
margin-left:auto;
}
.neo-right{
align-items:flex-end;
text-align:right;
}
.pritam-link{
color:#00f2fe;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.pritam-link:hover{
color:#4facfe;
text-shadow:0 0 10px #00f2fe;
}

/* subtxt logo */

.logo-wrap{
display:flex;
flex-direction:column;
line-height:1;
}

.logo-sub{
margin-top:4px;
font-size:12px;
color:#aaa;
letter-spacing:0.5px;
}

.logo-sub{
text-shadow:0 0 6px rgba(0,247,255,0.4);
}
/* form  */

.newsletter-box{
display:flex;
justify-content:center;
gap:12px;
margin-top:30px;
}

/* I/p */

.newsletter-box input{
width:280px;
padding:14px 18px;
border-radius:14px;
border:none;
outline:none;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
-webkit-backdrop-filter:blur(15px);

color:#fff;
font-size:15px;

box-shadow:
0 0 15px rgba(0, 247, 255, 0.404),
inset 0 0 6px rgba(255,255,255,0.2);

transition:0.3s;
}

.newsletter-box input::placeholder{
color:#bbb;
}

/* I/p hover */

.newsletter-box input:hover,
.newsletter-box input:focus{
box-shadow:
0 0 25px rgba(0,247,255,0.6),
inset 0 0 10px rgba(255,255,255,0.25);
}

/* Buttons */

.newsletter-box button{
padding:14px 26px;
border-radius:14px;
border:none;
cursor:pointer;

background:linear-gradient(135deg,#00f7ff,#00c6ff);
color:#000;
font-size:15px;
font-weight:600;

box-shadow:
0 0 20px rgba(0,247,255,0.6);

transition:0.35s;
}

/* Btn hover */

.newsletter-box button:hover{
transform:translateY(-3px) scale(1.05);
box-shadow:
0 0 35px rgba(0,247,255,1),
0 0 60px rgba(0,247,255,0.6);
}

/* Btn click */

.newsletter-box button:active{
transform:scale(0.95);
}

/* for phone */

@media (max-width:768px){

.search-box{
gap:14px;
}

.search-box input,
.search-box select{
height:50px;
font-size:16px;
}

.search-box button{
height:54px;
font-size:17px;
border-radius:30px;
}
}

/* company logo */

.logo-slider{
overflow:hidden;
position:relative;
margin-top:40px;
}

/* fade edges */

.logo-slider::before,
.logo-slider::after{
content:"";
position:absolute;
top:0;
width:120px;
height:100%;
z-index:2;
}

.logo-slider::before{
left:0;
background:linear-gradient(to right,#000,transparent);
}

.logo-slider::after{
right:0;
background:linear-gradient(to left,#000,transparent);
}

/* track */

.logo-track{
display:flex;
gap:80px;
width:max-content;
animation:company-scroll 22s linear infinite;
}

.logo-track img{
height:60px;
filter:none;
opacity:1;
transition:0.4s;
}


.logo-track img:hover{
filter:grayscale(0);
opacity:1;
transform:scale(1.1);
}

/* animation */

@keyframes company-scroll{
0%{transform:translateX(0);}
100%{transform:translateX(-50%);}
}

/* mobile */

@media(max-width:768px){
.logo-track img{
height:45px;
}
}
